.submitted-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  max-width: 900px;
  margin-top: 25px;
  border: 1px solid #576071;
}

.submitted-message-header {
  color: #ffffff;
  background: #576071;
  font-weight: 400;
  font-family: 'Helvetica Neue', 'Open Sans', Arial;
  text-align: center;
  width: 100%;
  padding: 15px 0px 15px;
}

.submitted-message-text {
  margin-top: 20px;
  margin-bottom: 20px;
}
